@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


*{margin: 0; padding: 0; box-sizing: border-box; color: #fff; font-family: 'Roboto', sans-serif;}

ul{list-style: none;}

a:link{text-decoration: none; color: #fff;}
a:visited{text-decoration: none; color: #fff;}
a:hover{text-decoration: none; color: blue}
a:active{text-decoration: none; color: blue}

img{vertical-align: top;}


#body_wrap{
    background-color: #000;
    height: 100vh;
    margin:0 auto;
    overflow: hidden;

}


/*메뉴 부분*/
header{
    width: 100%;
    height: 18vh;
    display: flex;
    position: absolute;
    top: 0; left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    padding: 0 8.9% 0 8.9%;
    justify-content: space-between;
    
}
header h1{
        height: 18vh;
}

header h1 svg{
    width: 100%;
    height: 4.4vh;
    margin: 7.4vh 0 0 0;
    
 

}
#gnb{
    width: 43%;
    display: flex;
  
}
#gnb li{
    width: 25%;
    font-size: 20px;
    font-style:bold;
    line-height: 18vh;
  
}

#gnb_icons{  
    position: relative;
    display: flex;
}

#gnb_icons_wrap{
    position: absolute;
    top: 6.7vh; right: 0;
    display: flex
    
}

#gnb_icons a i{
    color: #fff;
    margin-left: 30px;
    text-align: center;
    line-height: 5.5vh;
    font-size: 20px;

}

/*메인*/

#content1{
    position: relative;
    width: 100%;
    height: 100vh;
}

#watch_left img{
    position: absolute;
    top: 8vh; left: 22.3%;
    width: 36.5%;
    height: 74vh;
    z-index: 1;
    animation: Forimage1 2s ease forwards;
}

#text_apple{
    position: absolute;
    top: 31.5vh; left: 19.4%;
    z-index: 2;
    animation: apple 2s ease forwards;
}
#text_apple img{
    width: 100%;
    height: 21vh;

}


#watch_right img{
    position: absolute;
    top: 19.3vh; right: 22.4%;
    width: 32.2%;
    height: 67vh;
    z-index: 3;
    animation: Forimage2 2s ease forwards;
}

#text_watch{
    position: absolute;
    top: 27vh; right: 8.3%;
    z-index: 4;
    animation: watch 2s ease forwards;
}
#text_watch img{
    width: 100%;
    height: 27.2vh;
}

/*content2*/
#content2_warp{
    position: absolute;
    bottom: 5.8vh; right: 0;
    z-index: 7;
    width: 83.3%;
    height: 18.5vh;
    background-color: rgba(49, 49, 49, 0.9);
}

#bars{
    opacity: 0;
    z-index: -1;
}
#xbars{
    width: 27px; height: 30px;
    position: absolute;
    top: 65px; right: -10%;
    opacity: 0;
    color: #fff;
    font-size: 30px;
    z-index: -2;
    display: none;
}


@keyframes apple{
        0%{
            margin-left: -0.5%;
            opacity: 0; 
        }
        100%{
            margin-left: 0%;
            opacity: 1;
        }
}

@keyframes watch{
    0%{
        margin-right: -2%;
        opacity: 0;
    }

    100%{
        margin-right: 0%;
        opacity: 1;}
}

@keyframes Forimage1{
    0%{
        opacity: 0%;
        margin-left: -2%;
    }
    100%{
        opacity: 100%;
        margin-left: 0%;
    }
}

@keyframes Forimage2{
    0%{
        margin-right: -2%;
        opacity: 0%;
    }
    100%{
        margin-right: 0%;
        opacity: 100%;
    }
}


@media screen and (max-width:1200px){

#watch_left img{
    position: absolute;
    top: 8vh; left: 20%;
    width: 40%;
    height: 65vh;
}

#text_apple{
    top: 31.5vh; left: 16.5%;
}
#text_apple img{
    width: 90%;
    height: 18vh;

}

#watch_right img{
    top: 19.3vh; right: 15%;
    width: 40%;
    height: 65vh;
}

#text_watch{
    top: 27vh; right: 2%;
}
#text_watch img{
    width: 90%;
    height: 25vh;
}

}

@media screen and (max-width:700px){
    

    #gnb li{
        font-size: 12px;
      
    }
    #gnb_icons a i{
        font-size: 12px;
    
    }
    
}

@media screen and (max-width:550px){

    #body_wrap{
        width: 100%;
        height: 150vh;
        margin:0 auto;
        
    }
    /**/
    #gnb{
        position: absolute;
        top: 0; right: -50%;
        display:none;
        flex-direction: column;
        justify-content: start;
        width: 150px;
        height: 150vh;
        padding-top: 50px;
        background-color:rgba(255, 255, 255,0.8);
        transition: flex 1s ease ;
    }

    #gnb li{
        height: 50px;
        text-align: left;
        padding-left: 30px;
    }
    #gnb li a{
        width: 150px;
        color: black;
        width: 100;
        line-height: 50px;
    }

    #gnb_icons {
        display: none;
    }

    #watch_left img{
        position: absolute;
        top: 180px; left: 5%;
        width: 60%;
        height: 240px;
    }
    
    #text_apple{
        top: 350px; left: 10.5%; right: 53%;
    }
    #text_apple img{
        width: 100%;
        height: 50px;
    
    }
    
    #watch_right img{
        top: 230px; right: 0; left: 42%;
        width: 55%;
        height: 220px;
    }
    
    #text_watch{
        top: 350px; right: 0; left: 45%;
    }
    #text_watch img{
        width: 100%;
        height: 75px;
    }
    #bars{
        width: 27px; height: 30px;
        position: absolute;
        top: 65px; right: 5%;
        opacity: 1;
        color: #fff;
        font-size: 30px;
        z-index: 200;
    }
    #xbars{
        z-index: 190;
    }

}
