@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;}
ul{list-style: none;}

a:link {text-decoration: none; color: #000;}
a:visited {text-decoration: none; color: #000;}
a:hover {text-decoration: none; color: blue;}
a:active {text-decoration: none; color: blue;}


#body-wrap{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}


/*header*/

header{
    position: fixed;
    top: 0; left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1920px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    background: #f6f4ff;
}

header h1{
    line-height: 5vh;
}

.menu-bar-pc{
    width: 70%;
    display: flex;
    justify-content: space-around;
    line-height: 5vh
    }

.menu-bar-pc li {
    font-size: 25px;    
    margin-left: 3.5%;
    font-weight: 500;
}
.menu-bar-open{
    display: none;
}

.menu-bar-close{
    display: none;
}


/*section*/


section{
    position: relative;
    width: 100%;
    margin-top: 5vh;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section h2{
    position: relative;
    font-size: 45px;
    margin: 5vh 15% 0 15%;
}

section h2 span{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 3px;
    background: -moz-linear-gradient(left, rgb(214,100,224) 0%, rgb(50,96,214) 100%);
    background: -webkit-linear-gradient(left, rgb(214,100,224) 0%, rgb(50,96,214) 100%);
    background: linear-gradient( right, rgb(214,100,224) 0%, rgb(50,96,214) 100%);
    opacity: 0.7;
}

section ul{
    margin: 5vh 30% 0 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

section ul li {
    margin-top: 5vh;
}

section ul li h3{
    font-size: 30px;
}
section ul li p{
    margin-top: 5vh;
    font-size: 20px;
    font-weight: 600;
    color: #808285;
}


section .apply-btn{
    margin-top: 5vh;
    display: flex;
}   


section .apply-btn a{
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    margin-right: 10%;
    background: -moz-linear-gradient(left, rgb(214,100,224) 0%, rgb(50,96,214) 100%);
    background: -webkit-linear-gradient(left, rgb(214,100,224) 0%, rgb(50,96,214) 100%);
    background: linear-gradient( right, rgb(214,100,224) 0%, rgb(50,96,214) 100%);
    opacity: 0.7;


}


/*box*/

section #box1{
    position: absolute;
    top: -50vh; right: -18%;
    width: 1000px;
    height: 950px;
    border-radius: 50%;
    background: rgba(221, 68, 255, 0.08);
    z-index: -99;
}

section #box2{
    position: absolute;
    bottom: -15vh; left: -5%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: rgba(34, 28, 255, 0.08);
}





/*footer*/

footer{
    border-top: 1px solid #000;
    width: 100%;

}
footer h2{
    text-align: center;
    padding: 5vh 0;
}

footer ul{
    margin: 0 auto;
    width: 25%;
    display: flex;
    justify-content: space-between;
    
}

footer ul li{ 
    width: 8.5%;
    height: 8.5%;
    border-radius: 10px;
}
footer ul li a img{
    width: 100%;
    height: 100%;
}

footer p{
    margin-top: 3vh;
    font-size: 18px;
    text-align: center;
    color: #6d6e71;
}



@media screen and (max-width:1400px){

    
        /*header*/
        
        .menu-bar-pc li {
            font-size: 20px;
        }


    section h2{
        margin: 5vh 10% 0 10%;
    }


    section ul{
        margin: 5vh 25% 0 25%;
    }


    

    /*footer*/

    footer p{
        font-size: 14px;
    }



@media screen and (max-width:768px){

        
        /*header*/
        
        .menu-bar-pc li {
            font-size: 12px;
        }



        section h2{
            font-size: 25px;
        }



        section ul li h3{
            font-size: 20px;
        }

        section ul li p{
            font-size: 14px;
        }

        section .apply-btn a{
            width: 100px;
            height: 30px;
            line-height: 30px;
            font-size: 10px;
        }


        /*box*/

        section #box1{
            position: absolute;
            top: -30vh; right: -18%;
            width: 500px;
            height: 450px;
        }

        section #box2{
            position: absolute;
            bottom: -15vh; left: -5%;
            width: 250px;
            height: 250px;
        }

        /*footer*/
            
        footer p{
            font-size: 10px;
        }



    
}




@media screen and (max-width:480px){




        
        /*header*/
        
        header{
            position: fixed;
            top: 0; left: 50%;
            transform: translateX(-50%);
            width: 100%;
            max-width: 1920px;
            z-index: 999;
            display: flex;
            justify-content: space-between;
        }
        
        header h1{
            line-height: 5vh;
        }
        
        .menu-bar-pc{
            position: absolute;
            top: 0; left: 110%;
            background: #f6f4ff;
            width: 100%;
            height: 100vh;
            padding-top: 20ch;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            line-height: 5vh;
            z-index: 999;
            }
        
        .menu-bar-pc li a{
            font-size: 16px;
            line-height: 8vh;
            color: #000;
        }
        .menu-bar-open{
            display: flex;
            align-items: center;
            padding: 4%;
        }
        
        .menu-bar-open img{
            width:  24px;
            height: 24px;
        }
        
        .menu-bar-close{
            display: none;
            align-items: center;
            padding: 10%;
            z-index: 99999;
        }
        
        .menu-bar-close img{
            width:  30px;
            height: 30px;
        }


        
    /*section*/


        section{
            margin-top: 9vh;
            align-items: center;
        }

        section h2{
            font-size: 24px;
        }

        section h2 span{
            height: 2.2px;
        }

        section ul{
            margin: 0 auto;
            width: 90%;
        }


        section ul li h3{
            font-size: 18px;
        }
        section ul li p{
            font-size: 10px;
        }

        section .apply-btn a{
            width: 100px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            color: #fff;
            font-size: 10px;


        }


        /*box*/

        section #box1{
        display: none;
        }

        section #box2{
            display: none;
        }


            
    /*footer*/

    footer{
        margin-top: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.7);
        width: 100%;

    }
    footer h2{
        text-align: center;
        padding: 2vh 0;
    }

    footer ul{
        margin: 0 auto;
        width: 60%;
        display: flex;
        justify-content: space-between;
        
    }

    footer ul li{ 
        width: 9%;
        height: 9%;
    }
    footer p{
        margin: 2vh 0 3vh 0;
        font-size: 8px;
    }



    }





}