@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;}
ul{list-style: none;}

a:link {text-decoration: none; color: #000;}
a:visited {text-decoration: none; color: #000;}
a:hover {text-decoration: none; color: blue;}
a:active {text-decoration: none; color: blue;}


#body-wrap{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}


/*header*/

header{
    position: fixed;
    top: 0; left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1920px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    background: #f6f4ff;
}

header h1{
    line-height: 5vh;
}

.menu-bar-pc{
    width: 70%;
    display: flex;
    justify-content: space-around;
    line-height: 5vh
    }

.menu-bar-pc li {
    font-size: 25px;    
    margin-left: 3.5%;
    font-weight: 500;
}
.menu-bar-open{
    display: none;
}

.menu-bar-close{
    display: none;
}


/*box*/
#box-wrap{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -999;
}

#box-wrap div{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#box-wrap div h2{
    font-size: 400px;
    color: #9fa0dd13;
}
#box-wrap div h5{
    font-size: 60px;
    color: #9fa0dd13;
}

#box1{
    position: absolute;
    top: -50vh; right: -18%;
    width: 900px;
    height: 850px;
    border-radius: 50%;
    background: rgba(221, 68, 255, 0.08);
    z-index: -999999;
    animation: box1 15s linear infinite;
}

#box2{
    position: absolute;
    bottom: -15vh; left: -5%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: rgba(34, 28, 255, 0.08);
    animation: box2 15s linear infinite;
}

@keyframes box1{
    0%{
        top: -50vh; right: -18%;
    }
    50%{
        top: -45vh; right: -18%;
    }
    100%{
        top: -50vh; right: -18%;
    }
}

@keyframes box2{
    0%{
        bottom: -15vh; left: -5%;
    }
    50%{
        bottom: -5vh; left: -5%;
    }
    100%{
        bottom: -15vh; left: -5%;
    }
}


/*section*/


#content1{
    position: relative;
    width: 100%;
    margin-top: 5vh;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#content1 h2{
    position: relative;
    font-size: 40px;
    margin: 5vh 15% 0 15%;
}





#content1 #month{
    display: flex;
    width: 85%;
    margin: 10vh auto 0 auto;
}

#content1 #month li {
    position: relative;
    width: 11.11%;  
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #c7c7c7;
}

#content1 #month li span{
    position: absolute;
    bottom: -1vh; left: 50%;
    transform: translateX(-50%);
    background: -moz-linear-gradient(left, rgb(214,100,224) 0%, rgb(50,96,214) 100%);
    background: -webkit-linear-gradient(left, rgb(214,100,224) 0%, rgb(50,96,214) 100%);
    background: linear-gradient( right, rgb(214,100,224) 0%, rgb(50,96,214) 100%);
    width: 40%;
    height: 4px;
    opacity: 0.7;
    display: none;
}




#content1 #curriculum {
    width: 80%;
    height: 40vh;
    max-height: 400px;
    margin: 5vh auto 0 auto;
}
#content1 #curriculum li{
    display: none;
}
#content1 #curriculum li.show-contetn1{
    height: 40vh;
    max-height: 400px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#content1 #curriculum li img {
    width: 45%;
    height: 40vh;
    max-height: 400px;
}


.curriculum-text{
    width: 55%;
    height: 40vh;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
} 
.curriculum-text h3{
        font-size: 30px;
}


.curriculum-text p{
    text-align: center;
    margin-top: 3vh;
    line-height: 3.5vh;
    font-size: 20px;
    font-weight: 600;
}


/**/




#content1 #month li.show-text{
    color: #000;
}

#content1 #month li:hover{
    cursor: pointer;
}


/*section2*/

#content2{
    position: relative;
    width: 100%;
    margin-top: 10vh;
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#content2 h2{
    position: relative;
    font-size: 40px;
    margin: 5vh 15% 0 15%;
}

#content2 ul{
    width: 80%;
    height: 170vh;
    margin: 15vh auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content2 ul li{
    display: flex;
    justify-content: space-between;
}


#content2 ul li img{
    width: 40%;
    height: 45vh;
    max-height: 400px;
}

#content2 ul li div{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content2 ul li div h3{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
}

#content2 ul li div p{
    text-align: center;
    width: 100%;
    margin-top: 2vh;
    font-size: 16px;
}


/*footer*/

footer{
    border-top: 1px solid #000;
    width: 100%;

}
footer h2{
    text-align: center;
    padding: 5vh 0;
}

footer ul{
    margin: 0 auto;
    width: 25%;
    display: flex;
    justify-content: space-between;
    
}

footer ul li{ 
    width: 8.5%;
    height: 8.5%;
    border-radius: 10px;
}
footer ul li a img{
    width: 100%;
    height: 100%;
}

footer p{
    margin-top: 3vh;
    font-size: 18px;
    text-align: center;
    color: #6d6e71;
}





@media screen and (max-width:1400px){

    
    /*header*/
    
    .menu-bar-pc li {
        font-size: 20px;
    }


    section h2{
        margin: 5vh 10% 0 10%;
    }


    
    #content2 ul li img{
        width: 40%;
        height: 40vh;
        max-height: 400px;
    }



    /*footer*/

    footer p{
        font-size: 14px;
    }


}




@media screen and (max-width:768px){

        
    /*header*/
    
    .menu-bar-pc li {
        font-size: 12px;
    }

        /*box*/



        #box-wrap div h2{
            font-size: 200px;
            color: #9fa0dd13;
        }
        #box-wrap div h5{
            font-size: 32px;
            color: #9fa0dd13;
        }
    
        #box1{
            position: absolute;
            top: -30vh; right: -18%;
            width: 500px;
            height: 500px;
            border-radius: 50%;
            background: rgba(236, 141, 248, 0.08);
            z-index: -999999;
            animation: box1 15s linear infinite;
        }
    
        #box2{
            position: absolute;
            bottom: -10vh; left: -5%;
            width: 400px;
            height: 400px;
            border-radius: 50%;
            background: rgba(34, 28, 255, 0.08);
            animation: box2 15s linear infinite;
        }
    
    
        @keyframes box1{
            0%{
                top: -30vh; right: -18%;
            }
            50%{
                top: -45vh; right: -18%;
            }
            100%{
                top: -30vh; right: -18%;
            }
        }
    
        @keyframes box2{
            0%{
                bottom: -10vh; left: -5%;
            }
            50%{
                bottom: -5vh; left: -5%;
            }
            100%{
                bottom: -10vh; left: -5%;
            }
        }

    #content1 h2{
        position: relative;
        font-size: 25px;
        margin: 10vh 15% 0 15%;
    }
    
    #content1 #month li {
        font-size: 18px;
        font-weight: 600;
    }
    
    #content1 #month li span{
        height: 2.5px;
    }
        
    #content1 #curriculum li img {
        height: 30vh;
    }
    

    .curriculum-text h3{
            font-size: 22px;
    }
    
    
    .curriculum-text p{
        font-size: 12px;
    }
    

    
    
    /*section2*/
    
   
    #content2 h2{
        position: relative;
        font-size: 25px;
        margin: 0 15% 0 15%;
    }
    
    
    #content2 ul{
        height: 120vh;
    }
    #content2 ul li img{
        height: 30vh;
    }
    
    
    #content2 ul li div h3{
        font-size: 16px;
    }
    
    #content2 ul li div p{
        font-size: 10px;
    }

      /*footer*/
            
      footer p{
        font-size: 10px;
    }






}


@media screen and (max-width:480px){




        
    /*header*/
    
    header{
        position: fixed;
        top: 0; left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1920px;
        z-index: 999;
        display: flex;
        justify-content: space-between;
    }
    
    header h1{
        line-height: 5vh;
    }
    
    .menu-bar-pc{
        position: absolute;
        top: 0; left: 110%;
        background: #f6f4ff;
        width: 100%;
        height: 100vh;
        padding-top: 20ch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        line-height: 5vh;
        z-index: 999;
        }
    
    .menu-bar-pc li a{
        font-size: 16px;
        line-height: 8vh;
        color: #000;
    }
    .menu-bar-open{
        display: flex;
        align-items: center;
        padding: 4%;
    }
    
    .menu-bar-open img{
        width:  24px;
        height: 24px;
    }
    
    .menu-bar-close{
        display: none;
        align-items: center;
        padding: 10%;
        z-index: 99999;
    }
    
    .menu-bar-close img{
        width:  30px;
        height: 30px;
    }



      /*box*/



      #box-wrap div h2{
        font-size: 120px;
        color: #9fa0dd13;
    }
    #box-wrap div h5{
        font-size: 20px;
        color: #9fa0dd13;
    }

    #box1{
        position: absolute;
        top: -10vh; right: -18%;
        width: 300px;
        height: 280px;
        border-radius: 50%;
        background: rgba(236, 141, 248, 0.08);
        z-index: -999999;
        animation: box1 15s linear infinite;
    }

    #box2{
        position: absolute;
        bottom: 0vh; left: -30%;
        width: 280px;
        height: 250px;
        border-radius: 50%;
        background: rgba(34, 28, 255, 0.08);
        animation: box2 15s linear infinite;
    }


    @keyframes box1{
        0%{
            top: -10vh; right: -18%;
        }
        50%{
            top: -25vh; right: -18%;
        }
        100%{
            top: -10vh; right: -18%;
        }
    }

    @keyframes box2{
        0%{
            bottom: 0vh; left: -30%;
        }
        50%{
            bottom: 10vh; left: -30%;
        }
        100%{
            bottom: 0vh; left: -30%;
        }
    }


        
    /*section*/

    #content1{
      padding-bottom: 0;
    }

    #content1 h2{
        position: relative;
        font-size: 25px;
        margin: 10vh auto 5vh auto;
    }


    #content1 #month{
        display: flex;
        width: 95%;
        margin: 0 auto;
    }

    #content1 #month li {
        position: relative;
        width: 11.11%;  
        font-size: 12px;
        }

    #content1 #month li span{
        height: 2px;
    }


    #content1 #curriculum {
        width: 90%;
        height: 30vh;
        margin: 0 auto;
    }

    #content1 #curriculum li.show-contetn1{
        height: 30vh;
    }

    #content1 #curriculum li img {
        width: 60%;
        height: 20vh;
    }

    .curriculum-text{
        width: 40%;
        height: 30vh;
        
    } 
    .curriculum-text h3{
            font-size: 14px;
            font-weight: 700;
    }


    .curriculum-text p{
        margin-top: 2vh;
        line-height: 2.2vh;
        font-size: 10px;
    }



/*section2*/

    #content2{
        margin-top: 7vh;
    }

#content2 h2{
    position: relative;
    font-size: 25px;
    margin: 0 auto;
}

#content2 ul{
    width: 100%;
    height: 140vh;
    margin: 5vh auto 0 auto;
}

#content2 ul li{
    display: flex;
    flex-direction: column;
}


#content2 ul li img{
    margin: 0 auto;
    width: 70%;
    height: 25vh;
}

#content2 ul li div{
    width: 100%;
    margin: 0 auto;
}

#content2 ul li div h3{
    width: 80%;
    font-size: 18px;
    margin-top: 2vh;
}

#content2 ul li div p{
    width: 100%;
    font-size: 10px;
}


#content2 ul li:nth-child(2){
    flex-direction: column-reverse;
}

  /*footer*/

  footer{
    margin-top: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.7);
    width: 100%;

}
footer h2{
    text-align: center;
    padding: 2vh 0;
}

footer ul{
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    
}

footer ul li{ 
    width: 9%;
    height: 9%;
}
footer p{
    margin: 2vh 0 3vh 0;
    font-size: 8px;
}




}